<head>
  <title>NasDaily</title>
  <meta name="description" content="1 Minute Videos. Daily.">
  <%= render partial: 'home/analytics' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'home/facebook_sdk' %>
</body>
