@font-face {
  font-family: 'GeogrotesqueSemiBoldItalic';
  src: font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Italic.otf') format('opentype'),
       font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Italic.woff') format('woff'),
       font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Italic.svg') format('svg'),
       font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueSemiBoldRegular';
  src: font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Regular.otf') format('opentype'),
       font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Regular.woff') format('woff'),
       font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Regular.svg') format('svg'),
       font_url('Geogrotesque/Geogrotesque-Comp-Semi-Bold-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueThinItalic';
  src: font_url('Geogrotesque/Geogrotesque-Comp-Thin-Italic.otf') format('opentype'),
       font_url('Geogrotesque/Geogrotesque-Comp-Thin-Italic.woff') format('woff'),
       font_url('Geogrotesque/Geogrotesque-Comp-Thin-Italic.svg') format('svg'),
       font_url('Geogrotesque/Geogrotesque-Comp-Thin-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueThinRegular';
  src: font_url('Geogrotesque/Geogrotesque-Comp-Thin-Regular.otf') format('opentype'),
       font_url('Geogrotesque/Geogrotesque-Comp-Thin-Regular.woff') format('woff'),
       font_url('Geogrotesque/Geogrotesque-Comp-Thin-Regular.svg') format('svg'),
       font_url('Geogrotesque/Geogrotesque-Comp-Thin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueUltraLightItalic';
  src: font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Italic.otf') format('opentype'),
       font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Italic.woff') format('woff'),
       font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Italic.svg') format('svg'),
       font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueUltraLightRegular';
  src: font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Regular.otf') format('opentype'),
       font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Regular.woff') format('woff'),
       font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Regular.svg') format('svg'),
       font_url('Geogrotesque/Geogrotesque-Comp-Ultra-Light-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBold';
  src: font_url('BebasNeue/BebasNeueBold.otf') format('opentype'),
       font_url('BebasNeue/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src: font_url('BebasNeue/BebasNeueBook.otf') format('opentype'),
       font_url('BebasNeue/BebasNeueBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueLight';
  src: font_url('BebasNeue/BebasNeueLight.otf') format('opentype'),
       font_url('BebasNeue/BebasNeueLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: font_url('BebasNeue/BebasNeueRegular.otf') format('opentype'),
       font_url('BebasNeue/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueThin';
  src: font_url('BebasNeue/BebasNeueThin.otf') format('opentype'),
       font_url('BebasNeue/BebasNeueThin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FatFrank';
  src: font_url('FatFrank-Free.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
