@font-face {
  font-family: 'GeogrotesqueSemiBoldItalic';
  src: font_url('Geogrotesque-Comp-Semi-Bold-Italic.otf') format('opentype'),
       font_url('Geogrotesque-Comp-Semi-Bold-Italic.woff') format('woff'),
       font_url('Geogrotesque-Comp-Semi-Bold-Italic.svg') format('svg'),
       font_url('Geogrotesque-Comp-Semi-Bold-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueSemiBoldRegular';
  src: font_url('Geogrotesque-Comp-Semi-Bold-Regular.otf') format('opentype'),
       font_url('Geogrotesque-Comp-Semi-Bold-Regular.woff') format('woff'),
       font_url('Geogrotesque-Comp-Semi-Bold-Regular.svg') format('svg'),
       font_url('Geogrotesque-Comp-Semi-Bold-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueThinItalic';
  src: font_url('Geogrotesque-Comp-Thin-Italic.otf') format('opentype'),
       font_url('Geogrotesque-Comp-Thin-Italic.woff') format('woff'),
       font_url('Geogrotesque-Comp-Thin-Italic.svg') format('svg'),
       font_url('Geogrotesque-Comp-Thin-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueThinRegular';
  src: font_url('Geogrotesque-Comp-Thin-Regular.otf') format('opentype'),
       font_url('Geogrotesque-Comp-Thin-Regular.woff') format('woff'),
       font_url('Geogrotesque-Comp-Thin-Regular.svg') format('svg'),
       font_url('Geogrotesque-Comp-Thin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueUltraLightItalic';
  src: font_url('Geogrotesque-Comp-Ultra-Light-Italic.otf') format('opentype'),
       font_url('Geogrotesque-Comp-Ultra-Light-Italic.woff') format('woff'),
       font_url('Geogrotesque-Comp-Ultra-Light-Italic.svg') format('svg'),
       font_url('Geogrotesque-Comp-Ultra-Light-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueUltraLightRegular';
  src: font_url('Geogrotesque-Comp-Ultra-Light-Regular.otf') format('opentype'),
       font_url('Geogrotesque-Comp-Ultra-Light-Regular.woff') format('woff'),
       font_url('Geogrotesque-Comp-Ultra-Light-Regular.svg') format('svg'),
       font_url('Geogrotesque-Comp-Ultra-Light-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
