/* colors: */
$yellow-color: yellow;
$dark-gray-color: #292929;
$gray-color: #2f2f2f;
$font-color-white: white;
$font-color-light: #787878;
$font-color-dark: #4E4E4E;

/* fonts: */
$main-font: Arial, sans-serif;

/* viewport sizes */
$small: 768px;
$medium: 1024px;
$large: 1228px;
$screen: "only screen";
$small-only: "#{$screen} and (max-width: #{$small})";
$medium-up: "#{$screen} and (min-width:#{$medium})";
$medium-only: "#{$screen} and (min-width:#{$medium}) and (max-width:#{$large})";
$large-up: "#{$screen} and (min-width:#{$large})";
