@font-face {
  font-family: 'GeogrotesqueSemiBoldItalic';
  src: url('util/fonts/Geogrotesque-Comp-Semi-Bold-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueSemiBoldRegular';
  src: url('util/fonts/Geogrotesque-Comp-Semi-Bold-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueThinItalic';
  src: url('util/fonts/Geogrotesque-Comp-Thin-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueThinRegular';
  src: url('util/fonts/Geogrotesque-Comp-Thin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueUltraLightItalic';
  src: url('util/fonts/Geogrotesque-Comp-Ultra-Light-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeogrotesqueUltraLightRegular';
  src: url('util/fonts/Geogrotesque-Comp-Ultra-Light-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
