.nd-about {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;

    .mobile-about-img {
        position: relative;
        z-index: -1;
        width: auto;
        height: 100vh;
        background-size: cover;
        opacity: 0.5;
        background-image: url('https://res.cloudinary.com/nasdaily/image/upload/v1545636297/mobile_about_sohr4d.jpg');
        background-repeat: no-repeat;
    }
}

.player-wrapper {
    position: relative;
    // padding-top: 56.25%;
    z-index: -1;
        /* Player ratio: 100 / (1280 / 720) */

    .react-player {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

.react-player:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    // opacity: 0.15;
    background-color: rgba(44, 44, 44, 0.4);
    background: linear-gradient(rgba(44, 44, 44, 0.4),rgba(44, 44, 44, 0.4));
    // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQYV2NkwAT/GdHE/jMwMDAiC4IFQIpggnABmCCKAEgQAABOBQUaykC8AAAAAElFTkSuQmCC) repeat;
}

.nd-box {
    position: absolute;
    width: 653.4px;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 20px 30px 50px 55px;

    @media #{$small-only} {
        width: 500px;
        height: 114.78px;
    }

    @media #{$xs-small} {
        width: 260px;
        padding: 20px 25px 50px 25px;
    }
    // 4.356

    .topleft, .topright, .bottomleft, .bottomright {
        position: absolute;
        display: inline-block;
        height: 16.8px;
        width: 16.8px;
    }
    
    .topleft {
        top: 0;
        left: 0;
        border-top: solid 1.6px #ffffff;
        border-left: solid 1.6px #ffffff;
    }

    .topright {
        top: 0;
        right: 0;
        border-top: solid 1.6px #ffffff;
        border-right: solid 1.6px #ffffff;
    }

    .bottomleft {
        bottom: 0;
        left: 0;
        border-bottom: solid 1.6px #ffffff;
        border-left: solid 1.6px #ffffff;
    }

    .bottomright {
        bottom: 0;
        right: 0;
        border-bottom: solid 1.6px #ffffff;
        border-right: solid 1.6px #ffffff;
    }

    h1 {
        font-size: 25.6px;
        font-weight: bold;
        letter-spacing: 1.66px;
        line-height: 46px;
        margin-bottom: 15px;

        @media #{$small-only} {
            font-size: 19px;
            margin-bottom: 6px;
        }

        @media #{$xs-small} {
            font-size: 17px;
            margin-bottom: 0px;
        }
       
    }
// 1.23
    h2 {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 4.8px;
        line-height: 56px;

        @media #{$small-only} {
            font-size: 60px;
        }

        @media #{$xs-small} {
            font-size: 48px;

            span {
                font-size: 65px;
            }
        }
        
        span {
            color: $yellow-color;
        }
    }

    .nd-carousel {
        position: relative;
        width: 653.4px;
        height: 50px;

        @media #{$small-only} {
            width: 500px;
            height: 32px;
        }

        @media #{$xs-small} {
            width: 260px;
        }
    }

    .inner-car {
        position: absolute;
        right: 6.2%;
        bottom: 0;
        height: 30px;
        width: 377.6px;

        @media #{$small-only} {
            width: 288px;
            right: 5.2%;
        }

        @media #{$xs-small} {
            width: 260px;
            right: 6.2%;
        }

        .car-lines {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 377.6px;
            height: 23.2px;
            border-right: 5px solid $yellow-color;
            border-left: 5px solid $yellow-color;

            @media #{$small-only} {
                width: 288px;
                height: 21.4px;
                border-right: 4px solid $yellow-color;
                border-left: 4px solid $yellow-color;
            }

            @media #{$xs-small} {
                width: 220px;
                height: 20.2px;
                border-right: 2px solid $yellow-color;
                border-left: 2px solid $yellow-color;
            }
        }

        .text {
            font-size: 28.8px;
            font-weight: 500;
            letter-spacing: 2.98px;
            line-height: 27px;
            height: 30px;

            @media #{$small-only} {
                font-size: 21.6px;
            }

            @media #{$xs-small} {
                font-size: 12.8px;
                font-weight: bold;
            }
        }
    }
}



