.nd-about {
    background-attachment: fixed;
    background-size: cover;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    z-index: -1;
        /* Player ratio: 100 / (1280 / 720) */

    .react-player {
        position: fixed;
        top: 0;
        left: 0;
    }
}
    
.social-box {
    position: relative;
    margin-top: -40px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    font-size: 11.2px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 28px;

    p, .insta-icon {
        margin-right: 11.4px;
    }

    .insta-icon, .fb-icon {
        margin-top: 2px;
        cursor: pointer;
    }
}


.react-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.react-player:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(31, 31, 31, 0.8);
    background: linear-gradient(rgba(31, 31, 31, 0.4),rgba(31, 31, 31, 0.4));
}

.nd-box {
    position: absolute;
    width: 653.4px;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 20px 30px 50px 55px;

    .topleft, .topright, .bottomleft, .bottomright {
        position: absolute;
        display: inline-block;
        height: 16.8px;
        width: 16.8px;
    }
    
    .topleft {
        top: 0;
        left: 0;
        border-top: solid 1.6px #ffffff;
        border-left: solid 1.6px #ffffff;
    }

    .topright {
        top: 0;
        right: 0;
        border-top: solid 1.6px #ffffff;
        border-right: solid 1.6px #ffffff;
    }

    .bottomleft {
        bottom: 0;
        left: 0;
        border-bottom: solid 1.6px #ffffff;
        border-left: solid 1.6px #ffffff;
    }

    .bottomright {
        bottom: 0;
        right: 0;
        border-bottom: solid 1.6px #ffffff;
        border-right: solid 1.6px #ffffff;
    }

    h1 {
        font-size: 25.6px;
        font-weight: bold;
        letter-spacing: 1.66px;
        line-height: 46px;
        margin-bottom: 15px;
       
    }

    h2 {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 4.8px;
        line-height: 56px;
        
        span {
            color: $yellow-color;
        }
    }

    .nd-carousel {
        position: relative;
        width: 653.4px;
        height: 50px;
    }

    .inner-car {
        position: absolute;
        right: 6.2%;
        bottom: 0;
        height: 30px;
        width: 377.6px;

        .car-lines {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 377.6px;
            height: 23.2px;
            border-right: 5px solid $yellow-color;
            border-left: 5px solid $yellow-color;
        }

        .text {
            font-size: 28.8px;
            font-weight: 500;
            letter-spacing: 2.98px;
            line-height: 27px;
            height: 30px;
        }
    }
}



