.nd-agency {
  width: 100vw;
  font-family: 'Raleway',
  sans-serif;
  color: white;
  position: relative;

    span {
      color: $yellow-color;
    }

    .image-wrapper {
      height: 1000px;
      overflow: hidden;
      position: relative;
      z-index: -1;
    }

    // .image-wrapper:before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   left: 0;
    //   bottom: 0;
    //   z-index: 0;
    //   background: rgba(44, 44, 44, 0.25);
    //   background: linear-gradient(rgba(44, 44, 44, 0.25), rgba(44, 44, 44, 0.25));
    // }


  .agency-upper {

    .image-text-box {
      position: absolute;
      top: 220px;
      left: 0;
      right: 0;
      margin: auto;
      width: 70%;
      text-align: center;
      z-index: 1;

      @media screen and (min-width: 600px) and (max-width: 1040px) {
        top: 160px;
        width: 80%;
      }

      @media #{$xlarge-up} {
        width: 50%;
      }
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 3px;
        line-height: 30px;

        @media #{$medium-only} {
          font-size: 13px;
        }

        @media screen and (max-width: 780px) {
          font-size: 14px;
        }
      }
      hr {
        height: 1px;
        width: 32%;
        background: #979797;
        border: none;
        margin: 0 20px;
      }
    }

    h2 {
      font-size: 80px;
      font-weight: bold;
      letter-spacing: 8px;
      line-height: 58px;
      margin-top: 31px;
      margin-bottom: 47px;

      @media #{$medium-only} {
        font-size: 70px;
        margin-bottom: 35px;
      }

      @media #{$small-only} {
        font-size: 60px;
        margin-bottom: 25px;
      }

      @media screen and (max-width: 790px) {
        font-size: 50px;
        margin-bottom: 18px;
      }
    }

    p {
      line-height: 33px;
      font-size: 22px;
      letter-spacing: 1.14px;
      font-weight: 500;

      @media #{$small-only} {
        font-size: 18px;
      }

      span {
        font-weight: bold;
        color: white;
      }
    }

    .button-outer {
      margin-top: 57px;
      height: 44px;
      width: 194px;
      color: #FFFFFF;
      font-size: 15.2px;
      font-weight: 600;
      letter-spacing: 0.78px;
      line-height: 34px;
      background: transparent;
      border: 1.6px solid $yellow-color;
      border-radius: 22px;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

    .background-upper-img {
      width: auto;
      height: 1250px;
      background-size: contain;
      opacity: 0.8;
      margin-top: -180px;
      background-image: url('https://res.cloudinary.com/nasdaily/image/upload/v1545454672/Nas_Daily_Team_desk2_ubrlv4.jpg');
      background-repeat: no-repeat;

      @media #{$medium-only} {
        margin-top: -80px;
      }

      @media #{$small-only} {
        margin-top: 0px;
      }

    }

  // .background-upper-img {
  //   position: absolute;
  //   z-index: -1;
  //   margin-top: -200px;
  //   width: 100vw;
  //   height: 1225px;

  //   @media #{$xlarge-up} {
  //     margin-top: -465px;
  //     height: 1730px;
  //   }
  // }

  .one-minute-outer {
    position: relative;
    height: 613px;
    width: 100vw;
  }

  .one-minute {
    position: absolute;
    top: -80px;
    height: 533px;
    background: rgba(44, 44, 44, 0.95);
    width: 100vw;
    background: linear-gradient(rgba(44, 44, 44, 0.98),rgba(44, 44, 44, 0.98));
    text-align: center;
    z-index: 2;

    .blink {
      position: absolute;
      width: 20px;
      top: -15px;
      left: 38%;
      z-index: 0;

      @media #{$xlarge-up} {
        left: 42%;
      }
    }

    .time {
      position: absolute;
      top: -100px;
      left: 31%;
      z-index: 0;

      @media #{$xlarge-up} {
        top: -108px;
        left: 38%;
      }
    }

    .one-minute-box {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 14px 0;
      width: 70%;
      z-index: 1;

      @media #{$xlarge-up} {
        width: 50%;
      }

      h2 {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 4.81px;
        line-height: 58px;
      }
      
      p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.64px;
        line-height: 36px;
        margin: 0 80px;
      }
    }

  }


  .boxes-outer {
    margin-top: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;

    @media #{$xlarge-up} {
      padding-left: 20%;
      padding-right: 20%;
    }

    .box {
      width: 250px;
      height: 220px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      position: relative;
      
      .money-icon {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        width: 50px;
        margin: 0 auto;
      }

      .faster-icon {
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        width: 85px;
        margin: 0 auto;
        margin-bottom: 30px;
      }

      .stronger-icon {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        width: 50px;
        margin: 0 auto;
        margin-bottom: 25px;
      }

      .human-icon {
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        width: 54px;
        margin: 0 auto;
        margin-bottom: 25px;
      }

      .description {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 15px;
      }

      h3 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2.5px;
        line-height: 37px;
      }

      p {
        color: #C9C9C9;
        font-family: "Open Sans";
        font-size: 16px;
        letter-spacing: 1.1px;
        line-height: 26px;
      }
    }
  }

  .agency-lower {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;

    h2 {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 7px;
      line-height: 58px;
      margin-bottom: 28px;
    }

    p {
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 0.88px;
      line-height: 36px;
    }
  }

  .agency-clients-outer {
    padding: 0 11%;

    @media #{$xlarge-up} {
      padding-left: 20%;
      padding-right: 20%;
    }

    &:last-child {
      margin-top: -12px;
    }
    
    .agency-clients-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .client-outer {
        width: 32.5%;
        height: 380px;
        display: flex;
        flex-direction: column;
        position: relative;
      }

      .client-outer-last {
        width: 32.5%;
        height: 390px;
        display: flex;
        flex-direction: column;
        position: relative;

      
      }

      .can-be-you {
        position: relative;
        width: 100%;
        height: 194px;

        .can-be-you-inner {
          width: 100%;
          height: 100%;
        }
      }
  
      .video {
        position: relative;
        width: 100%;
        height: 194px;
        overflow: hidden;
        cursor: pointer;

        .play {
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 50px;
          height: 50px;
          opacity: 0;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }

        .play:hover {
          opacity: 1;
        }

        .video-inner {
          width: 100%;
          height: 100%;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }

        .video-inner:hover {
          -moz-transform: scale(1.05);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);

          + .play {
            opacity: 1;
          }
        }
      }
      .video-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      .uber-logo {
        height: 19px;
        margin-left: 15px;
      }

      .wu-logo {
        height: 26px;
        margin-left: 15px;
      }

      .gv-logo {
        height: 32px;
        margin-left: 15px;
      }

      .ntuc-logo {
        height: 14px;
        margin-left: 15px;
      }

      .broome-logo {
        height: 35px;
        margin-left: 15px;
      }

      hr {
        border: 0.5px dashed #979797;
        margin-top: 18px;
      }

      .dotted-gradient {
        background-image: linear-gradient(to right, #979797 40%, rgba(255, 255, 255, 0) 20%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
        height: 40px;
        width: 100%;

        &.small {
          height: 34px;
        }

        &.smaller {
          height: 36px;
        }

        &.tall {
          height: 47px;
        }
        &.taller {
          height: 52px;
        }
      }
      

        .title {
          font-family: 'Poppins', sans-serif;
          font-size: 19px;
          font-weight: 600;
          letter-spacing: 0.97px;
          line-height: 20px;
          margin-left: 15px;
        }

        .text-desc {
          font-family: "Open Sans";
          font-size: 13px;
          letter-spacing: 0.67px;
          line-height: 25px;
          margin-top: 14px;
          margin-bottom: 50px;
          margin-left: 15px;

          .fas {
            float: left;
            margin-top: 8px;
          }
          .fa-bolt {
            font-size: 10px;
            margin-right: 14px;
          }

          .fa-star {
            font-size: 9px;
            margin-right: 10px;
          }

          .you-desc {
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            letter-spacing: 0.73px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .agency-bottom {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;


    .work-together {
      position: absolute;
      top: 280px;
      height: 175px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;

      h3 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 7px;
        line-height: 58px;
      }

      p {
        font-size: 19px;
        font-weight: bold;
        letter-spacing: 4.5px;
        line-height: 50px;
      }

      a {
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 1.9px;
        line-height: 33px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .one-minute-lower {
      height: 1313px;
      background: rgba(44, 44, 44, 0.123);
      position: relative;

      .lower-hero {
        position: absolute;
        top: 140px;
        left: -5%;
        height: 1313px;
        width: 108%;
        z-index: -1;
      }

      .one-minute-text {
        position: absolute;
        top: 715px;
        width: 420px;
        left: 0;
        right: 0;
        margin: auto;

        p {
          font-size: 21px;
          font-weight: 700;
          letter-spacing: 1.04px;
          line-height: 29px;
          font-family: 'Lora', serif;
        }

        .left {
          float: left;
          font-size: 14px;
          margin-left: 2px;
        }

        .right {
          float: right;
          font-size: 14px;
          margin-top: -10px;
        }
      }

      .outer-scroll {
        position: static;
        display: block;
        opacity: 1;
        visibility: visible;
        margin-top: 60px;
        
        .scroll {
          background: transparent;     
        }
      }
    }
  }
}

.hero-children {
  position: relative;
  margin-top: 200px;
  z-index: 10;

  @media #{$medium-only} {
    margin-top: 0px;
  }

  @media #{$small-only} {
    margin-top: -80px;
  }

  @media screen and (max-width: 780px) {
    margin-top: -160px;
  }
}





// .nd-agency {
//   $tileWidth: 480px;
//   $tileHeight: ($tileWidth / (16/9));
//   $duration: 350ms;
//   $iconSize: 50px;

//   color: white;
//   font-size: 20px;

//   .nd-agency-intro {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     padding-top: 100px;
//     padding-bottom: 100px;
//     background: url(/assets/agency/eyes-bg.png), rgba(12, 12, 12, 1);
//     background-repeat: no-repeat;
//     background-color: #1F1F1F;
//     background-size: cover;
//   }

//   .nd-agency-intro-header {
//     font-size: 60px;
//     font-family: 'FatFrank', 'Teko', Arial, sans-serif;
//     text-transform: uppercase;
//     margin-bottom: 12px;
//     font-weight: bold;
//   }

//   .nd-agency-intro-subheader {
//     font-size: 22px;
//   }

//   .nd-agency-intro-cards-container {
//     display: flex;
//     margin-top: 200px;
//   }

//   .nd-agency-intro-card {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     width: 300px;
//     height: 200px;
//     margin-left: 10px;
//     margin-right: 10px;
//     border-radius: 5px;
//     background-repeat: no-repeat;
//     box-shadow: 0px 5px 5px rgb(20,20,20);

//     &.card-1 {
//       background-image: url(/assets/agency/card-bg-1.svg), linear-gradient(#575757, #3E3E3E);
//     }

//     &.card-2 {
//       background-image: url(/assets/agency/card-bg-2.svg), linear-gradient(#575757, #3E3E3E);
//     }

//     &.card-3 {
//       background-image: url(/assets/agency/card-bg-3.svg), linear-gradient(#575757, #3E3E3E);
//     }
//   }

//   .agency-card-title {
//     margin-bottom: 24px;
//     margin-top: 12px;
//     font-size: 26px;
//   }

//   .agency-card-icon-container {
//     padding-top: 24px;
//     padding-bottom: 6px;
//   }

//   .nd-agency-featured-videos {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     padding-top: 50px;
//     padding-bottom: 50px;
//   }

//   .nd-agency-videos-header {
//     font-size: 48px;
//     text-transform: uppercase;
//     font-weight: bold;
//     margin-bottom: 6px;
//   }

//   .nd-agency-videos-tabs-container {
//     width: 100%;
//     max-width: 1000px;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 48px;
//   }

//   .nd-agency-featured-video-tab-video-item {
//     display: flex;
//     margin-top: 100px;
//   }

//   .featured-video-video-player {
//     width: 60%;

//     .tile {
//       position: relative;
//       width: $tileWidth;
//       height: $tileHeight;
//       font-size: 20px;
//       cursor: pointer;
//       transition: $duration all;
//     }

//     .tile:hover .tile__details {
//       opacity: 1;
//     }

//     .tile__img {
//       border-radius: 5px;
//     }
//   }

//   .featured-video-video-metrics-container {
//     width: 40%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: start;
//   }

//   .featured-video-video-metric {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-top: 24px;
//     padding-bottom: 24px;
//     font-size: 25px;

//     img {
//       margin-right: 24px;
//     }
//   }

//   .nd-agency-contact {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     padding-top: 50px;
//     padding-bottom: 50px;
//     background-color: #1F1F1F;
//     background-image: url(/assets/agency/world-map-bg.png);
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 270px;
//   }

//   .nd-agency-contact-header {
//     font-size: 48px;
//     text-transform: uppercase;
//     font-weight: bold;
//     margin-bottom: 6px;
//   }

//   .nd-agency-featured-video-tab-content {
//     > div:nth-child(1) {
//       .featured-video-video-metrics-container {
//         padding-left: 24px;
//       }
//     }

//     > div:nth-child(2) {
//       .featured-video-video-player {
//         display: flex;
//         justify-content: flex-end;
//       }
//     }
//   }

//   @media #{$small-only} {
//     .nd-agency-intro {
//       padding-top: 75px;
//       background-size: 130% auto;
//       background-position-x: center;
//     }

//     .nd-agency-intro-header {
//       width: 300px;
//       font-size: 52px;
//     }

//     .nd-agency-intro-subheader {
//       width: 300px;

//       br { display: none; }
//     }

//     .nd-agency-intro-cards-container {
//       flex-direction: column;
//       margin-top: 100px;
//     }

//     .nd-agency-intro-card {
//       margin-bottom: 24px;
//       margin-left: 0;
//       margin-right: 0;
//     }

//     .nd-agency-featured-video-tab-video-item {
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       margin-top: 50px;
//     }

//     .featured-video-video-player {
//       display: flex;
//       justify-content: center;
//       width: 100%;
//     }

//     .featured-video-video-metrics-container {
//       width: 100%;
//       justify-content: center;
//       align-items: start;
//       margin-top: 24px;
//     }

//     .featured-video-video-metric {
//       padding-left: 12px;
//       padding-right: 12px;
//     }

//     .tile__img,
//     .tile {
//       max-width: 100%;
//     }

//     .nd-agency-featured-video-tab-content {
//       > div:nth-child(1) {
//         .featured-video-video-metrics-container {
//           padding-left: 0;
//         }
//       }

//       > div:nth-child(2) {
//         flex-direction: column-reverse;

//         .featured-video-video-player {
//           justify-content: center;
//         }
//       }
//     }
//   }

//   @media #{$medium-only} {
//     .nd-agency-intro {
//       padding-top: 75px;
//       padding-bottom: 75px;
//     }

//     .nd-agency-intro-cards-container {
//       margin-top: 100px;
//     }

//     .nd-agency-intro-card {
//       width: 230px;
//       height: 165px;
//     }

//     .nd-agency-featured-video-tab-content {
//       margin-left: 24px;
//       margin-right: 24px;
//     }

//     .tile__img,
//     .tile {
//       max-width: 100%;
//     }

//     .nd-agency-featured-video-tab-video-item {
//       margin-top: 75px;
//     }

//     .nd-agency-contact {
//       height: 200px;
//     }
//   }

//   @media #{$large-up} {
//     .tile__details {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       top: 0;
//       color: white;
//       font-size: 10px;
//       opacity: 0;
//       transition: $duration opacity;

//       &:after,
//       &:before {
//         content: '';
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         display: black;
//       }

//       &:after {
//         margin-top: (-($iconSize / 2));
//         margin-left: (-($iconSize / 2));
//         width: $iconSize;
//         height: $iconSize;
//         border: 3px solid #ecf0f1;
//         line-height: $iconSize;
//         text-align: center;
//         border-radius: 100%;
//         background: rgba(0,0,0,0.5);
//         z-index: 1;
//       }

//       &:before {
//         content: '▶';
//         left: 0;
//         width: 100%;
//         font-size: 30px;
//         margin-left: 7px;
//         margin-top: -7px;
//         text-align: center;
//         z-index: 2;
//       }
//     }
//   }
// }
