.nd-app {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60%;
  color: white;

  input {
    height: 44px;
    line-height: 44px;
    width: 270px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }

  button {
    height: 44px;
    border-radius: 0 5px 5px 0;
    border: none;
  }

  form {
    display: flex;
  }
}
