  .agency .nd-footer {
    position: sticky;
    width: 100%;
    z-index: 10;
  }

  .shop .nd-footer {
    background: $light-gray-color;
  }
   .shop .social-box,
   .team .social-box, 
   .videos .social-box,
   .agency .social-box {
     visibility: hidden;
   }

  .nd-footer {
    display: flex;
    background-color: $dark-gray-color;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $font-color-light;
    height: $footer-height;

    @media #{$xs-small} {
      height: 100px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

  .social-box {
    position: relative;
    margin-top: -100px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    font-size: 11.2px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 28px;

    @media #{$xs-small} {
      display: none;
    }

    p,
    .insta-icon {
      margin-right: 11.4px;
    }

    .insta-icon,
    .fb-icon {
      margin-top: 2px;
      cursor: pointer;
    }
  }

    .navigation {
      padding-top: 65px;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-left: 4%;

      @media #{$xs-small} {
        display: none;
      }

      li {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Raleway',
          sans-serif;
        letter-spacing: 1.42px;
        line-height: 43px;
        margin-right: 25px;
        min-width: 78px;
      }

      li:first-child {
        margin-right: 15px;
      }

      li:nth-child(2) {
        margin-right: 10px;
      }

      li:nth-child(4) {
        margin-right: 15px;
      }
    }

    .navigation-link {

      &:hover,
      &:active,
      &:focus {
        color: white;
      }

      &.active {
        color: white;
        cursor: default;
      }
    }

    .social-list-header {
      color: white;
      font-size: 16px;
      margin-top: 12px;
    }

    .social-list {
      display: flex;
      align-items: center;
      padding-top: 25px;

      @media #{$xs-small} {
        padding-top: 0px;
      }
    }

    .social-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .social-icon {
      width: 106px;
    }

    .subfooter {
      visibility: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 10px;
      align-self: stretch;
      border-top: 2px solid $gray-color;
    }

    .privacy-and-terms {
      display: none;
      position: absolute;
      right: 12px;
      justify-content: space-around;
      min-width: 200px;
      top: 38%;
    }

    .privacy-and-terms-link {
      &:hover {
        color: $yellow-color;
      }
    }
  }
