.nd-footer {
  display: flex;
  background-color: $dark-gray-color;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $font-color-light;
  height: $footer-height;

  .logo {
    margin: 50px;
    height: 30px;
  }

  .navigation {
    padding: 30px;
    display: flex;

    li {
      text-transform: uppercase;
      font-size: 35px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  .social-list {
    display: flex;
    align-items: center;

    li {
      padding: 30px;
    }
  }

  .subfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    align-self: stretch;
    border-top: 2px solid $gray-color;
  }

  @media #{$small-only} {
    display: none;
  }
}
