.email-form {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  width: 100%;
  margin-bottom: 12px;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-wrapper {
    width: 100%;
    position: relative;
  }

  .submit-arrow {
    position: absolute;
    right: 0;
    height: 100%;
    width: 30px;
    background-position: center;
    right: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(http://res.cloudinary.com/nasdaily/image/upload/v1501466052/arrow_email_hdo9hj.svg);
  }

  input {
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 5px;
    border: 1px solid $yellow-color;
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: $main-font;
    padding-top: 6px;
    padding-bottom: 0;
    background-color: lighten(#313131, 15%);
  }

  button {
    height: 44px;
    border-radius: 0 5px 5px 0;
    border: none;
    color: black;
    margin: 0;
    font-size: 24px;
    background-color: $yellow-color;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 0;
  }

  .shake {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
  }

  @-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(20px); }
    20% { -webkit-transform: translate(-20px); }
    40% { -webkit-transform: translate(10px); }
    60% { -webkit-transform: translate(-10px); }
    80% { -webkit-transform: translate(6px); }
    100% { -webkit-transform: translate(0px); }
  }
  @-moz-keyframes kf_shake {
    0% { -moz-transform: translate(20px); }
    20% { -moz-transform: translate(-20px); }
    40% { -moz-transform: translate(10px); }
    60% { -moz-transform: translate(-10px); }
    80% { -moz-transform: translate(6px); }
    100% { -moz-transform: translate(0px); }
  }
  @-o-keyframes kf_shake {
    0% { -o-transform: translate(20px); }
    20% { -o-transform: translate(-20px); }
    40% { -o-transform: translate(10px); }
    60% { -o-transform: translate(-10px); }
    80% { -o-transform: translate(6px); }
    100% { -o-origin-transform: translate(0px); }
  }

  .success-message {
    font-size: 30px;
  }

  .error-message {
    padding-top: 12px;
    color: $yellow-color;
  }
}
