.email-form {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  min-height: 80px;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  input {
    height: 44px;
    width: 260px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: $main-font;
    padding-top: 6px;
    padding-bottom: 0;
  }

  button {
    height: 44px;
    border-radius: 0 5px 5px 0;
    border: none;
    color: black;
    margin: 0;
    font-size: 24px;
    background-color: $yellow-color;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 0;
  }

  .success-message {
    font-size: 30px;
  }

  .error-message {
    padding-top: 12px;
    color: $yellow-color;
  }

  .form-wrapper {
    display: flex;
  }

  @media #{$small-only} {
    input {
      width: 220px;
    }
  }
}
