.nd-header {
  display: flex;
  height: $header-height;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $dark-gray-color;
  z-index: 2;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: height 250ms ease-out;

  &.open-menu {
    height: 100%;
  }

  a {
    margin: 20px;
  }

  .logo {
    height: 25px;
  }

  button {
    background-color: inherit;
    border: none;
    margin-right: 24px;
    height: $header-height;
  }

  .nd-menu {
    width: 100%;
    flex-basis: 100%;
    height: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nd-menu-item {
    font-size: 35px;
    color: $font-color-light;
    margin: 12px;

    &:hover, &:active, &:focus {
      color: $yellow-color;
    }
  }

  @media #{$large-up} {
    position: relative;
    background-color: transparent;

    button {
      display: none;
    }
  }
}
