.nd-search {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;

  input {
    height: 70px;
    line-height: 70px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $yellow-color;
    font-size: 60px;
    width: 500px;
    caret-color: $yellow-color;
    box-sizing: content-box;

    &::placeholder {
      color: $font-color-dark;
    }
  }

  @media #{$small-only} {
    height: 150px;

    input {
      height: 50px;
      line-height: 50px;
      width: 280px;
      font-size: 35px;
    }
  }
}
