.nd-shop {
  background-color: $gray-color;
  height: calc(100% - #{$header-height});
  color: white;

  .landing {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    /* transition: filter 500ms linear, opacity 500ms linear; */

    &:hover .landing--left,
    &:hover .landing--right {
      opacity: 0.5;
    }
  }

  .landing--left,
  .landing--right {
    position: relative;
    padding-top: 150px;
    flex: 1;
    opacity: 1;
    transition: opacity 250ms linear;

    &:hover {
      opacity: 1 !important;
    }
  }

  .landing--left-content,
  .landing--right-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    z-index: 2;
    opacity: 1;
  }

  .landing--left-background,
  .landing--right-background {
    background-image: url(http://res.cloudinary.com/nasdaily/image/upload/v1501383337/Nas_shirt_bg_v13rv6_1_w96wwj.png);
    background-repeat: no-repeat;
    background-size: 200%;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .landing--left-background {
    background-position: 0 40%;
  }

  .landing--right-background {
    background-position: 100% 40%;
  }

  .form-section {
    background-color: #717171;
    overflow-y: scroll;
  }

  h2 {
    font-family: 'FatFrank', 'Teko', Arial, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 48px;
  }

  p {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;
  }

  .shop-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 24px;
  }

  .form {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .error-message {
    color: $yellow-color;
  }

  label {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 24px;
    font-family: 'FatFrank', 'Teko', Arial, sans-serif;
    color: black;
    text-transform: uppercase;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }

  .input-wrapper,
  .select-wrapper {
    border: 1px solid black;
    margin-bottom: 12px;
  }

  .form-input {
    width: 200px;
    height: $shop-form-input-height;
    font-family: 'Teko', Arial, sans-serif;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 4px;
    border: none;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #717171;

    &:focus, &:active {
      background-color: white;
    }

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: black;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: black;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: black;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: black;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: black;
    }
  }

  /* react-select overrides */
  .Select-input > input {
    max-height: 27px;
    max-width: 140px;
  }

  .Select-value,
  .Select-placeholder,
  .Select-value-label {
    color: black !important;
  }

  .Select-value,
  .Select-placeholder {
    padding-top: 5px;
  }

  .submit-button {
    background-color: $yellow-color;
    border: 1px solid black;
    width: 200px;
    height: $shop-form-input-height;
    font-family: 'Teko', Arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
  }

  @media #{$small-only} {
    min-height: 800px;

    .landing {
      flex-direction: column;
      background-image: url(http://res.cloudinary.com/nasdaily/image/upload/v1501383337/Nas_shirt_bg_v13rv6_1_w96wwj.png);
      background-repeat: no-repeat;
      background-position: center 40%;
      background-size: cover;
      height: 100%;
    }

    .landing--left {
      padding-top: 50px;
    }

    .landing--right {
      padding-top: 0;
    }

    .landing--left-background,
    .landing--right-background {
      background-image: none;
    }
  }

  @media #{$large-up} {
    padding-left: 0;
    padding-right: 0;
  }
}
