.nd-shop {
  background-color: $gray-color;
  height: calc(100% - #{$header-height});
  padding-left: 12px;
  padding-right: 12px;
  /* overflow: auto; */
  color: white;

  .landing {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    background-image: url(http://res.cloudinary.com/nasdaily/image/upload/v1501383337/Nas_shirt_bg_v13rv6_1_w96wwj.png);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
  }

  .landing--left,
  .landing--right {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    justify-content: start;
    margin-top: 150px;
  }

  .form-section {
    background-color: gray;
  }

  h2 {
    font-family: 'FatFrank', 'Teko', Arial, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 48px;
  }

  p {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .shop-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 24px;
  }

  .form {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 48px;
  }

  label {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 24px;
    font-family: 'FatFrank', 'Teko', Arial, sans-serif;
    color: black;
    text-transform: uppercase;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }

  .input-wrapper {
    border: 1px solid black;
  }

  input {
    width: 200px;
    height: 40px;
    font-family: 'Teko', Arial, sans-serif;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 3px;
    border-radius: 0;
    text-transform: uppercase;
  }

  .select-wrapper {
    border: 1px solid black;
  }

  select {
    appearance: none;
    width: 200px;
    height: 40px;
    font-family: 'Teko', Arial, sans-serif;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 3px;
    border-radius: 0;
    text-transform: uppercase;
  }

  .submit-button {
    background-color: $yellow-color;
    border: 1px solid black;
    width: 200px;
    height: 40px;
    font-family: 'Teko', Arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
  }

  @media #{$small-only} {
    .input-group {
      flex-direction: row;
    }
  }

  @media #{$large-up} {
    padding-left: 0;
    padding-right: 0;
  }
}
