.nd-team {
    width: 100vw;
    font-family: 'Raleway',
        sans-serif;
    color: white;
    position: relative;

    span {
        color: $yellow-color;
    }

    .team-upper {

        .image-text-box {
            position: absolute;
            top: 220px;
            left: 0;
            right: 0;
            margin: auto;
            width: 67%;
            text-align: left;
            z-index: 2;
        }

        h1 {
            font-size: 50px;
            font-weight: bold;
            letter-spacing: 9.26px;
            line-height: 52px;
        }

        span {
            color: $yellow-color;
        }

        .description {
            margin-top: 40px;
            width: 90%;

            p {
                font-size: 17px;
                font-weight: 500;
                letter-spacing: 0.88px;
                line-height: 36px;
            }

            span {
                color: $yellow-color;
            }

        }
    }

    .background-creators-img {
        width: 110%;
        margin-left: -5%;
        height: 2125px;

        @media #{$medium-only} {
            width: 117%;
            margin-left: -8%;
        }
    }

    .hero-children {
        position: relative;
        z-index: 10;
    }
}

.profile-outer {
    width: 100vw;
    margin-top: -1000px;
    padding-top: 140px;
    background: #2c2c2ce1;
    @include linearGradient(rgba(44, 44, 44, 0.95), rgba(44, 44, 44, 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.creators-mid {
    width: 67%;

    .profile-inner {
        position: relative;
        width: 100%;
        height: 234px;
        border-radius: 7px;
        background: #343434;
        margin-bottom: 24px;
        animation-duration: 1s;
        animation-delay: 1s;

        .team-member-background {
            width: 100%;
            height: 166px;
        }
    }

    .mobile-profile {
        display: none;
    }
    
    .team-lower {
        position: absolute;
        bottom: 0;
        height: 68px;
        width: 100%;
        background-color: #222222;
    }

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 8px;
    }

    li {
        font-family: 'Raleway',
        sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.72px;
        line-height: 30px;
        color: #FFFFFF;
        margin-left: 28px;
    }
    
    .fab {
        height: 15.4px;
        width: 15.4px;
        margin-right: 15.6px;
        font-size: 18px;
    }


    .profile-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 51px;
        width: 51px;
        border: 1px solid #FFFFFF;
        background: transparent;
        border-radius: 100%;

        img {
            height: 45px;
            width: 45px;
            border-radius: 100%;
        }
    }


    .contact {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 21.63px;
        bottom: 17.14px;
        height: 31px;
        width: 112.37px;
        border: 1.12px solid $yellow-color;
        border-radius: 2.1px;
        font-size: 11px;
        letter-spacing: 0.88px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

 

    @media #{$medium-only} {
        .creators-mid {
            width: 90%;
        }
    }

    @media #{$small-only} { 
   
        .creators-mid {
            width: 90%;
        }

        .profile-pic {
            display: none;
        }
    }

    @media #{$xs-small} {  
            
        .creators-mid {
            width: 90%;
        }

        .profile-pic {
            display: none;
        }

        .mobile-profile {
            position: absolute;
            display: inline-block;
            width: 100%;
            top: 16px;
            left: 16px;
            
            .mobile-profile-pic {
                height: 51px;
                width: 51px;
                border: 1px solid white;
                border-radius: 100%;
            }

            img {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                position: absolute;
                left: 2.5px;
                top: 2.5px;
            }

            p {
                color: white;
            }
        }
    }
}

.creators-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 525px;
    width: 100vw;
    background: #2C2C2C;
    color: white;
    
    a {
        font-family: 'Raleway',
        sans-serif;
        margin-top: 30px;
        font-size: 33px;
        font-weight: bold;
        letter-spacing: 0.87px;
        line-height: 36px;
    }
    span {
        color: $yellow-color;    
    }

    p {
        line-height: 36px;
        font-size: 17px;
        letter-spacing: 0.87px;
    }
}




