.team {
    overflow-x: hidden;
    overflow-y: auto;

    .team-img-wrapper {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .team-img-wrapper:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .team-background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
    }
}


.nd-creators {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    color: white;

    .creators-top {
        width: 67%;
    }
    
    h1 {
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 9.26px;
        line-height: 58px;
    }

    span {
        color: $yellow-color;
    }

    .description {
        margin-top: 50px;

        p {
            font-family: 'Raleway', sans-serif;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0.88px;
            line-height: 36px;
        }

        span {
            color: $yellow-color;
        }

    }

    @media #{$medium-only} {
        .creators-top {
            width: 90%;
        }
        h1 {
            font-size: 45px;
        }
    }

    @media #{$small-only} {
        .creators-top {
            width: 95%;
        }
       
    }

    @media #{$xs-small} {
        h1 {
            font-size: 40px;
        }

    }

}

.profile-outer {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .creators-mid {
        width: 67%;
    }
   

    .profile-inner {
        position: relative;
        width: 100%;
        height: 234px;
        border-radius: 7px;
        background: #343434;
        margin-bottom: 24px;
        animation-duration: 1s;
        animation-delay: 1s;
    }
    
    .team-lower {
        position: absolute;
        bottom: 0;
        height: 68px;
        width: 100%;
        background: #2c2c2cab;
    }

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 8px;
    }

    li {
        font-family: 'Raleway',
        sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.72px;
        line-height: 30px;
        color: #FFFFFF;
        margin-left: 28px;
    }
    
    .fab {
        height: 15.4px;
        width: 15.4px;
        margin-right: 15.6px;
        font-size: 18px;
    }


    .profile-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 51px;
        width: 51px;
        border: 1px solid #FFFFFF;
        background: transparent;
        border-radius: 100%;

        img {
            height: 45px;
            width: 45px;
            border-radius: 100%;
        }
    }


    .contact {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 21.63px;
        bottom: 11px;
        height: 31px;
        width: 112.37px;
        border: 1.12px solid $yellow-color;
        border-radius: 2.1px;
        font-size: 11px;
        letter-spacing: 0.88px;
        font-weight: bold;
        color: white;
    }

    .show-more {
        margin-top: 100px;
    }

    .show-more-inner {
        font-family: 'Raleway',
        sans-serif;
        color: white;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.78px;
        line-height: 27px;
        cursor: pointer;
    }

    .loader {
        text-align: center;
        margin-top: 15px;
    }

    @keyframes blink {
        50% {
            color: transparent
        }
    }

    .loader__dot {
        color: $yellow-color;
        animation: 2s blink infinite
    }

    .loader__dot:nth-child(2) {
        animation-delay: 500ms
    }

    .loader__dot:nth-child(3) {
        animation-delay: 750ms
    }

    span {
        font-size: 4px;
        margin-right: 8px;
    }

    @media #{$medium-only} {
        .creators-mid {
            width: 90%;
        }
    }

    @media #{$small-only} {
        .creators-mid {
            width: 95%;
        }
    }
}

.creators-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 144px;
    margin-top: 150px;
    margin-bottom: 180px;
    text-align: center;
    color: white;
    
    a {
        font-family: 'Raleway',
        sans-serif;
        margin-top: 30px;
        font-size: 33px;
        font-weight: bold;
        letter-spacing: 0.87px;
        line-height: 36px;
    }
    span {
        color: $yellow-color;    
    }

    p {
        line-height: 36px;
        font-size: 17px;
        letter-spacing: 0.87px;
    }
}

