.nd-privacy,
.nd-terms {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 24px;
  padding-bottom: 24px;

  h2 {
    font-size: 40px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  ul {
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    margin-bottom: 12px;
  }

  @media #{$large-up} {
    padding-left: 24px;
    padding-right: 24px;
  }
}
