.nd-videos {
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;

  .videos-rows {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 12px;
  }

  .videos-header {
    margin-left: 20px;
    color: lighten($font-color-light, 20%);
    margin-bottom: 12px;
  }

  .video-item {
    margin: 18px 6px;
    min-height: 181px;
    min-width: 317px;
  }

  img {
    border: 3px solid white;
    border-radius: 5px;
    height: 175px;
    width: 311.1;
  }

  .load-more-button {
    display: flex;
    margin: auto;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 10px;
    background-color: white;
    border: none;

    &:hover {
      background-color: darken(white, 20%);
    }
  }

  @media #{$small-only} {
    padding: 0;

    .videos-header {
      text-align: center;
      display: block;
    }

    .load-more-button {
      margin-bottom: 24px;
    }
  }

  @media #{$large-up} {
    .video-item {
      opacity: 0.8;
      transition-duration: 100ms;
      transition-property: all;

      &:hover, &:focus, &:active {
        opacity: 1;

        img {
          height: 181px;
          width: 317.1;
          border: none;
        }
      }
    }
  }
}
