html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-image: url(http://res.cloudinary.com/nasdaily/image/upload/v1499019749/bg_pattern_pdqcu0.svg);
  background-color: $gray-color;
  background-repeat: repeat;
  background-position: center;
  background-size: 60%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content {
  min-height: calc(100vh - #{$footer-height});
}
