html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: $main-font;
  background-color: $gray-color;

  background-image: url(http://res.cloudinary.com/nasdaily/image/upload/v1499019749/bg_pattern_pdqcu0.svg);
  background-repeat: repeat;
  background-position: top;
  background-size: 60%;

  &.shop {
    background-image: url(http://res.cloudinary.com/nasdaily/image/upload/v1500761670/Nas_shirt_bg_v13rv6.png);
    background-repeat: no-repeat;
    background-position: center 70;
    background-size: cover;
  }
}

button, a {
  outline-color: $yellow-color;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: $main-font;
}

input {
  outline-color: $yellow-color;
}

.content {
  min-height: calc(100vh - #{$footer-height});
}

@media #{$large-up} {
  body.shop-tab {
    background-position: 0 0;
  }
}

@media #{$small-only} {
  .content {
    height: 100%;
  }
}
